body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white;
}

.titulo{
   text-align: left;
      color: #F47920;
      margin: 50px;
      width: 100%;
}


.menu{
    background-color: #005083;
    color: azure;
    font-size: 30px;
    padding-left: 10px;
    width: 100%;
    margin: 2px;
    
}

.table{

    padding-left: 10px;
    width: 100%;
    margin: 10px;
    
}

.ovi{
    margin: 40px;
}
.informacion{
    font-size: 18px;
    margin: 40px;


}

.parrafo{
    margin: 30px;
    width: 95%;
    padding-left: 10px;
    margin-right: 30px;
}

.boton{
    background-color:#F0B429;
    padding: 10px;
    margin: 10px;
    width: 50%;
    
}


.titulo1{
    text-align: left;
       color: black;
       margin: 50px;
       width: 100%;
 }

 .imagen{

    height: auto;
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-left: 50px;


 }

 .comentario{
    
    padding-left: 10px;
    margin: 50px;
    width: 100%;
 }